/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

:root {
    /* se crean variables */
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-colo: #222;
    --main-modal-color: rgba(247, 222, 30, 0.85);
    /* 0.85 opacidad*/
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

img{
    max-width:100%;
    height:auto;
}

main{
    display:flex;
    flex-direction:column-reverse;
}

.loader{
    display:none;
    margin:auto;
}


@media screen and (min-width: 800px) {
    main{
        flex-direction:row;
    }
    main >* {
        flex-basis:50%;
        padding:1rem;
    }
}




